<%- include('partials/header') %>

<div id="produits">
  <div class="container">
    <h2><span>Nos produits cette semaine</span></h2>

    <div class="items">

      <div class="carte">
        <a href="#"><img src="/img/Ananas.jpg" alt=""></a>
        <p><b>Ananas</b></p>
        <p>$3.00/ pièce</p>
        <p>Quantité encore disponible: 4,0</p><br>
        <a class="control" href="#">+</a>
        <input type="text" name="" value="1">
        <a class="control" href="#">-</a>

        <button type="button" name="button">AJOUTER AU PANIER</button>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>
