* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
#products {
  background: #2b2e37;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}
h2 {
  font-size: 25px;
  border-bottom: 1px solid #f3eb32;
  line-height: 0.1em;
}
h2 span{
  background:#f3eb32;
  padding: 10px 20px;

}
