* {
  /* a enlever */
  margin: 0;
  /* a enlever */
  padding: 0;

  font-family: 'Gilroy', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#produits {
  padding: 50px;
  background: #2b2e37;
  text-align: center;
  color: #fff;
}
h2{
  border-bottom: 1px solid #f3eb32;
  font-size: 25px;
  line-height: 0.01em;
}
h2 span {
  background: #f3eb32;
  padding: 10px 20px;
  color: #1f232c;
}

.items {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 50px;
  color:#1f232c;
}

.carte {
  background: #fff;
  /* padding: 20px; */
  margin: 10px 10px;
}

.carte input[type="text"], #item input[type="text"]{
  width: 30px;
  height: 25px;
  text-align: center;
}
.carte p {
  font-size: 14px;
  line-height: 18px;
}
.control, #item .control {
  text-align: center;
  display: inline-block;
  width: 20px;
  border-radius: 50%;
  background: #f3eb32;
  text-decoration: none;
  padding: 3px;
  margin: 0 5px;
}

button {
  border:none;
  background:#f3eb32;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight:500;
}

.carte img {
  max-width: 100%;
  margin-bottom: 10px;
}

#item {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 50% 40% 10%;
}
#item img {
  max-width: 100%;
}
#item .col {margin: 0 20px;}

#item ul li {
  display: inline-block;
  color: rgba(102,102,102,.7);
}
#item .petit-menu li:after {
  padding: 0 5px;
  content: '/'
}
#item .petit-menu li:last-child:after{content: ''}

#item ul li a {
  color: rgba(102,102,102,.7);
  font-weight: 400;
  text-decoration: none;
}

#item h3 {
  color: #555;
  font-size: 25px;
  margin:10px 0;
}
.sous-bar {
  display: inline-block;
  width: 30px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.para-qt {
  color: #777;
  font-size: 26px;
  margin: 10px 0;
}

.desc {
  color:rgb(119, 119, 119);
  line-height: 25.6px;
  font-size: 16px;
  margin-bottom: 20px;
}

#item h6 {
  color: #7a9c59;
  font-size:12.8px;
  margin-bottom: 20px;
}
.line {
  display: block;
  border-bottom: 1px dotted #ddd;
  margin-top: 50px;
}
.souspara {
  margin-top: 5px;
  font-size: 13px;
  color: #777;
  line-height: 20px;
}
.btn-social {
  font-size: 11px;
  color: #fff;
  padding: 3px 5px;
  margin: 0px 3px 5px;
  border-radius: 3px;
}
.fb {background: #4c69ba;}
.lk {background: #1177b5;}
.tw {background: #1c95e0;}

.nav {
  font-size: 25px;
  color: #c0c0c0
}
.social-icons {
  margin: 20px 0;
}
.social-icons .iconify {
  font-size: 30px;
}
@media screen and (max-width:700px) {
  .items {
    grid-template-columns: 50% 50%;
  }
}
